.git
.gitignore
.github

Dockerfile
.dockerignore

/vendor/*
!/vendor/.gitkeep

pub/app/cache/*
!pub/app/cache/.gitkeep

pub/app/w3tc-config/*
!pub/app/w3tc-config/.gitkeep

/pub/app/uploads/*
!/pub/app/uploads/.gitkeep