# Application
pub/app/mu-plugins/*/
pub/app/upgrade
pub/app/uploads/*
!pub/app/uploads/.gitkeep

# WordPress
pub/wp

# Wordpress var
pub/app/cache/*
!pub/app/cache/.gitkeep

pub/app/w3tc-config/*
!pub/app/w3tc-config/.gitkeep

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml