[mysqld]

## General
myisam_sort_buffer_size         = 8M
read_rnd_buffer_size            = 1024K
net_buffer_length               = 16K
sort_buffer_size                = 1M
table_cache                     = 8096
max_allowed_packet              = 64M
max_connect_errors              = 1000000

## Slow Queries and Logging
slow_query_log_file             = /docker.stderr
long_query_time                 = 1
log_queries_not_using_indexes   = 1
expire_logs_days                = 30

## Buffers and additional caches
key_buffer_size                 = 128M
join_buffer_size                = 128M
join_cache_level                = 8
mrr_buffer_size                 = 8M

read_buffer_size                = 512K
table_definition_cache          = 8096
tmp_table_size                  = 1G
max_heap_table_size             = 512M
max_connections                 = 150
thread_cache_size               = 150
open_files_limit                = 65535
table_definition_cache          = 8096
table_open_cache                = 8096

## InnoDB
innodb_flush_method             = O_DIRECT
innodb_log_files_in_group       = 2
innodb_flush_log_at_trx_commit  = 0
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 512M
innodb_buffer_pool_instances    = 8
innodb-thread-concurrency       = 8